# --- Autenticación con OCI ---
OCI_AUTH_TYPE=api_key
OCI_CONFIG_FILE=~/.oci/config
OCI_CONFIG_PROFILE=DEFAULT
OCI_REGION=mx-queretaro-1

# --- Object Storage ---
OCI_NAMESPACE=tenancy
OCI_BUCKET_NAME=financial-models
MODELS_LOCAL_DIR=./models
